<!DOCTYPE>
<html>
  <head>
    <title>Catalog</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css')}}"  media="screen,projection"/>
  </head>
  <body>
    <nav>
      <div class="nav-wrapper">&nbsp;&nbsp;
        <a href="/" class="brand-logo">Catalog App</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
            <span id="message">
              {% if session.get('email') != None %}
                Logged in as {{session.get('email')}}
              {% endif %}
            </span>
          </li>

          <li id="signin" style=
          {% if session.get('email') != None %}
            "display:none;"
          {% else %}
            "display:block;"
          {% endif %}
          ><a href="#">Login</a></li>
          <li id="signout" style=
          {% if session.get('email') != None %}
            "display:block;"
          {% else %}
            "display:none;"
          {% endif %}
          ><a href="/logout">Logout</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
        <div id="content">{% block content %}{% endblock %}</div>
    </div>
    <script>
      var currentUser = "{{session.get('email')}}";
    </script>
    <script src="https://login.persona.org/include.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.min.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/persona.js')}}"></script>
  </body>
</html>
