{% extends "bare.html"%}
{% block content %}
<h3>Edit Item</h3>
<form name="editItem" method="post">
  {{ form.hidden_tag()}}

  {{ form.title.label}} <br/>
  {{ form.title}}<br/><br/>

  {{ form.description.label }} <br/>
  {{ form.description}}<br/><br/>

  {{ form.category.label }} <br/>
  <div class="input-field col s12">
  {{ form.category(class_='browser-default')}}<br/><br/>
</div>

  <button class="btn waves-effect waves-light" type="submit" name="action">Save Changes
    </button>
</form>

{% endblock %}
