<title>{{category.get('name')}} Items</title>
{% extends "base.html"%}
{% block icontent %}
<div class="col s12 m6">
  <div class="card indigo lighten-4">
    <div class="card-content white-text">
      <span class="card-title">{{category.get('name')}} {{items.count()}} item(s)</span><br/>
        <!-- Get Items -->
        {% for i in items %}
          <a href="/catalog/{{category['name']}}/{{i['title']}}">{{i['title']}}</a><br>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
